* {
  font-family: "Poppins", sans-serif;
  --primary-color: #434343;
  --secondary-color: #FF3D57;
  --tertiary-color: #FFCA00;
  --success-color: #00D748;

  color: var(--primary-color);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.project {
  box-shadow: -21px 0px 20px 0px #00000010;
}